10_ianuarie_2021/.idea/
30-31_ianuarie_2021/.idea
30-31_ianuarie_2021/__pycache__
30-31_ianuarie_2021/Population_register/.vscode
30-31_ianuarie_2021/Population_register/__pycache__
30-31_ianuarie_2021/Population_register/venv
7_2_2021_python_intermediate/.vscode
7_2_2021_python_intermediate/__pycache__

