<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/style.css"/>
    <title>Population Register</title>
</head>
<body>
	<ul class="nav">
		<li><a href={{ url_for('index') }}>Add new person</a></li>
		<li></li><a href={{ url_for('search') }}>Search register</a></li>
	</ul>
	<h1 id="title">Population Register</h1>

	<!-- Its the form where a person can be searched in the database by first name and last name -->

	<div class="form-container">
		<form class="form-inline" action="" method="POST">
			<!-- <h2>Add new person to the database</h2> -->
			<label>First Name</label>
			<input type="text" id="first_name" placeholder="Enter First Name" name="first_name">
			<label>Last Name</label>
			<input type="text" id="last_name" placeholder="Enter Last Name" name="last_name">
			<button type="submit" id="submit">Search the register</button>
		</form>
	</div>

	<!-- The table where the search results from the DB will be appeared -->

	<div class="container">
		<table class="table">
			<tr>
				<th colspan="4" id="table-title">Search results</th>
			</tr>
			<tr id="table-headers">
				<td>No.</td>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Birthdate</td>
			</tr>

			<!-- The register is a variable containing all the persons from the DB. -->
			
			{% for person in query %}
			<tr>
				<td>{{person._id}}</td>
				<td>{{person.first_name}}</td>
				<td>{{person.last_name}}</td>
				<td>{{person.birthdate}}</td>
			</tr>
			{% endfor %}

		</table>
	</div>
</body>
</html>